# ===============================
# EL TABLÓN - RENDER ENV
# SOLO NOTIFICACIONES
# ===============================

# OneSignal
ONE_SIGNAL_APP_ID=PEGAR_AQUI_TU_ONESIGNAL_APP_ID
ONE_SIGNAL_REST_API_KEY=PEGAR_AQUI_TU_ONESIGNAL_REST_API_KEY

# Firebase Admin SDK
FIREBASE_PROJECT_ID=el-tablon-2ad52
FIREBASE_CLIENT_EMAIL=PEGAR_CLIENT_EMAIL_DEL_SERVICE_ACCOUNT
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGAR_PRIVATE_KEY_COMPLETA_CON_N\n-----END PRIVATE KEY-----\n"

# Render usa PORT automático, no tocar normalmente
PORT=3000
